html {
  background-color: beige;
}
nav {
  border: 2px solid black;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(43, 39, 39);
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 120%;
}
.footer {
  border: 2px solid black;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 39, 39);
  color: white;
}
.main {
  border: 2px solid black;
  padding: 3% 1%;
  display: flex;
  justify-content: center;
}
.article {
  padding: 1% 10%;
  color: grey;
  font-size: 120%;
}
